---
- name: Read secrets from Vault
  hosts: localhost
  gather_facts: false
  
  vars:
    vault_addr: "http://localhost:8200"
    vault_token: "devroot"

  tasks:
    - name: Read database credentials
      community.hashi_vault.vault_kv2_get:
        url: "{{ vault_addr }}"
        token: "{{ vault_token }}"
        engine_mount_point: secret
        path: app/database
      register: db_secret

    - name: Display info
      debug:
        msg: "DB Host: {{ db_secret.secret.host }}"

    - name: Create .env file
      copy:
        content: |
          DB_HOST={{ db_secret.secret.host }}
          DB_USER={{ db_secret.secret.username }}
          DB_PASS={{ db_secret.secret.password }}
        dest: ./app.env
        mode: '0600'
